:root {

    --backg-color: #ffffff;
    --main-color: #282c34;
    --light-accent: #E0A370;
    --backg-accent: #f0f0f0;
}

/* main layout
=========================
*/

html, body, #root {
    height: 100%;
    width: 100%;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100vw;
    /* height: 100vh; */
    height: 100%;
    padding: 10px calc(40px + 2vmax);

    background-color: var(--backg-color);

    /* default font */
    /* font-family: "Garamond", serif; */
    font-family: "Menlo", monospace;
}

.app-header {
    width: 100%;
    padding-left: 7px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    font-size: calc(60px + 2vmin);
    color: --main-color;
}

.top-section {
    max-width: 1600px;
    width: 100%;
    height: 20%;
    max-height: 30%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding: 0 0 0 5px;
}


.main-content {
    display: flex;
    flex-flow: row wrap;
    /* align-items: center; */
    /* padding: 0 calc(20px + 2vmax); */
    width: 100%;
}


.bottom-section {
    width: 100%;

    display: Flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
}


/*  top section
=========================
*/

.sorting-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.sorting-arrow {
    /* padding: 0px 4 */
    display: flex;
    align-items: center;
    font-size: 42px;

    padding: 0 10px;

    color: var(--main-color);

    cursor: pointer;
}

.sorting-select {
    height: calc(10px + 4vmin);
    max-height: 42px;

    display: flex;
    align-items: center;
    font-size: 64px;
}

.sorting-select select {
    border-radius: 8px;
    border: 3px solid var(--main-color);
}

.search-box {
    min-height: 70px;
    min-width: 600px;

    display: flex;
    align-items: center;

    margin: 40px;
    padding: 10px;


    transition-duration: .4s;

    background-color: var(--backg-color);
    border: 4px solid rgba(0, 0, 0, .01);
    border-radius: 25px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .04);
    /* box-shadow: inset 0px 0px 50px rgba(230,230,230,.5); */
}

.focus {
    /* background-color: blue; */
    transform: scale(101%);
}

.search-input {
    width: 100%;
    height: 100%;

    transition-duration: .5s;

    font-size: 25px;

    border: none;
    /* background-color: rgba(0, 0, 0, 0); */
    outline: 0;

    text-align: center;
    padding: 0px 30px;
    /* text-indent: 50%; */
    /* transition: text-indent 150ms linear; */
}

.search-input:focus {
    text-align: left;
    /* text-indent: 50px; */
}


/* middle section
=========================

*/


.bill-container {
    min-width: 300px;
    width: 100%;
    min-height: 450px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;

    /* max-width: 600px; */
    /* max-width: 800px; */

    margin: 40px;
    padding: 50px;

    border-radius: 50px;
    background-color: white;

    /* box-shadow: inset 0em 0em 30px white; */

    box-shadow: 0px 0px 60px rgba(0, 0, 0, .05);
}

.bill {
    min-height: 100%;
    min-width: 100%;
    display: block;
    font-size: 14pt;
    height: 100%;
}

.bill-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* bottom section
=========================

*/


.page-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.page-button {
    /* border: 6px solid var(--main-color); */
    height: 42px;
    width: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 10px;
    text-align: center;

    border-radius: 10px;
    background-color: var(--backg-color);
    outline: 0;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);

    font-weight: 600;
    font-size: 20px;
    color: var(--main-color);

}

.page-button.selected {
    background-color: var(--backg-accent);
}

.top-page-buttons {
    display: flex;
    align-items: flex-start;
}

.footer {}